VITE_API_URL=http://localhost:8000/api
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=victoriaensoapp.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=victoriaensoapp
VITE_FIREBASE_STORAGE_BUCKET=victoriaensoapp.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=568773738080
VITE_FIREBASE_APP_ID=
